.open-btn{
    display: none;
}

nav{
    .close-btn{
        display: none;
    }

    margin: auto auto;
    transition: 0.3s;

    ul{
        list-style-type: none;
        display: flex;
        flex-wrap: wrap;
        gap: 5px;
        margin: auto;
        justify-content: center;
    }

    li{
        text-align: center;
        padding: 5px;
        border-radius: 15px;
        transition: 0.3s;
        cursor: pointer;
        position: relative;

        a{
            text-decoration: none;
            color: black;

            &::after {
                content: '';
                position: absolute;
                bottom: 2px;left: 5%;
                width: 90%;
                height: 2px;
                background-color: black;
                opacity: 1;
                transform: scaleX(0);
                transform-origin: center;
                transition: 0.2s;
            }
            
            &:hover::after{
                transform: scaleX(100%);
            }
        }
    }
}

@media screen and (max-width:650px) {
    header h1{
        margin-left: 20px;
    }

    .open-btn{
        display: block;
        float: right;
        margin: auto 0;
    }

    nav{
        position: fixed;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        transform: scaleX(0);
        transform-origin: left;
        background-color: rgb(181, 181, 181);
        z-index: 1000;

        &.open{
            ~.open-btn{
                display: none;
            }

            transform: scaleX(100%);

            .close-btn{
                display: block;
            }
        }

        ul{
            gap: 15px;
            font-size: 27px;
            padding: 0;
            width: auto;
            display: block;
        }
    }

}
