html{
    height: 100%;
}

body{
    height: 100%;
    background-color: rgb(240, 240, 240);
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
background: rgb(34, 34, 34);
}
::-webkit-scrollbar-thumb{
border-radius: 10px;
background-color: rgba(123, 123, 123, 0.4);
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar-thumb:active{
    background: rgba(255, 255, 255, 0.5);
}

/*-------------------Hub------------------*/

/*Header*/
header{
    background-color: rgb(200, 200, 200);
    height: auto;
    padding: 10px;
    flex-wrap: wrap;
    display: flex;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
}


/*Main*/
main{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    padding: 10px;
}

section.HubBox{
    background-color: rgb(220, 220, 220);;
    border: solid 1px gray;
    border-radius: 3px;
    flex-basis: 250px;
    height: auto;
    padding: 5px;
    box-shadow: 1px 1px 2px;
    transition: 0.3s;
}

section.HubBox:hover{
    transform: translateY(-2px);
    transition: 0.3s;
}

section.HubBox img{
    width: 100%;
}

section.HubBox h2{
    text-align: center;
    margin-top: 5px;
}

section.HubBox p{
    text-align: justify;
    padding: 0px 10px;
}

/*Footer*/
footer{
    background-color: rgb(200, 200, 200);
    height: auto;
    padding: 10px;
}