html{
    height: auto;
    min-height: 100vh;
}

body{
    height: auto;
    min-height: 100vh;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
background: rgb(34, 34, 34);
}
::-webkit-scrollbar-thumb{
border-radius: 10px;
background-color: rgba(123, 123, 123, 0.4);
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar-thumb:active{
    background: rgba(255, 255, 255, 0.5);
}


/*------------------Header----------------*/
header{
    background-color: rgb(230, 230, 230);
    height: auto;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

header h1{
    margin: 0;
}

header img{
    width: 50px;
    height: 50px;
}

header img.right{
    margin-left: auto;
}

/*----------------Nav----------------*/
nav{
    margin: auto;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: auto;
    justify-content: center;
}

nav li{
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    transition: 0.3s;
    cursor: pointer;
    position: relative;
}

nav li a{
    text-decoration: none;
    color: black;
}


li::after {
    content: '';
    position: absolute;
    bottom: 2px;left: 5%;
    width: 90%;
    height: 2px;
    background-color: black;
    opacity: 1;
    transform: scaleX(0);
    transform-origin: center;
    transition: 0.2s;
}

li:hover::after{
    transform: scaleX(1);
}

/*Menu burger*/
@media screen and (max-width: 560px) {
}

/*-----------------Main-------------------*/
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    padding: 10px 20px;
    max-height: 100vw;
    align-content: center;
    margin: auto;
    transition: 0.3s;
    box-sizing: border-box;
}


/*Box*/
section.HubBox{
    background-color: rgb(230, 230, 230);
    border: solid 1px gray;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 1px 1px 2px;
    transition: 0.3s;
    width: 31%;
    position: relative;
    box-sizing: border-box;
}

section.HubBox:hover{
    transform: scale(101%);
}

section.HubBox:before, section.HubBox:after{
    position: absolute;
    transition: 0.4s;
    backdrop-filter: blur(2px);
    background-color: rgba(129, 129, 129, 0.4);
    color: white;
    box-sizing: border-box;
}

section.HubBox:before{
    content: "Titre";
    text-align: center;
    font-weight: bold;
    border-radius: 0 5px 5px 0 ;
    width: 50%;
    padding: 10px;
    top: 50px;left: 0;
    transform-origin: left;
    transform: scaleX(0);
    box-shadow: black 1px -1px 5px;
}

section.HubBox:after{
    content: "petite desc";
    font-size: 15px;
    bottom: 0;left: 0;
    border-radius: 0 0 5px 5px;
    box-shadow: black 0 -1px 4px;
    padding: 20px;
    width: 100%;
    height: 100px;
    transform: scaleY(0);
    transform-origin: bottom;
}

section.HubBox:hover:after, section.HubBox:hover:before{
    transform: scale(100%);
}

#cybersecurtie:before{
    content: "La Cybérsécurité";
}

#it:before{
    content: "L'IT";
}

#Blockchain:before{
    content: "La BlockChain";
}

#analyse:before{
    content: "Analyse";
}

#ia:before{
    content: "L'inteligence Artificielle";
}

#join:before{
    content: "Rejoins Nous";
}

#commerce:before{
    content: "Le Commerce";
}

#cloud:before{
    content: "Le Cloud";
}

section.HubBox img{
    width: 100%;
    border-radius: 5px;
    margin: auto auto;
}

section.HubBox h2{
    text-align: center;
    margin: 5px;
    font-size: 100%;
}


@media screen and (max-width: 650px) {
    main{
        max-height: 5000px;
    }

    section.HubBox{
        width: 95%;
    }
}

@media screen and (max-width: 1300px) and (min-width: 650px) {
    main{
        max-height: 200vw;
    }

    section.HubBox{
        width: 47%;
    }
}

/*Footer*/
footer{
    background-color: rgb(230, 230, 230);
    height: auto;
    padding: 5px 20px;
}