html{
    height: auto;
    min-height: 100vh;
}

body{
    height: auto;
    min-height: 100vh;
    margin: 0;
}

::-webkit-scrollbar {
    width: 8px;
}
::-webkit-scrollbar-track {
background: rgb(34, 34, 34);
}
::-webkit-scrollbar-thumb{
border-radius: 10px;
background-color: rgba(123, 123, 123, 0.4);
}
::-webkit-scrollbar-thumb:hover{
    background: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar-thumb:active{
    background: rgba(255, 255, 255, 0.5);
}


/*------------------Header----------------*/
header{
    background-color: rgb(230, 230, 230);
    height: auto;
    padding: 5px 20px;
    display: flex;
    align-items: center;
}

header h1{
    margin: 0;
}

header img{
    width: 50px;
    height: 50px;
}

header img.right{
    margin-left: auto;
}

/*----------------Nav----------------*/
nav{
    margin: auto;
}

nav ul{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    margin: auto;
}

nav li{
    text-align: center;
    padding: 5px;
    border-radius: 15px;
    transition: 0.3s;
    cursor: pointer;
}

nav li:hover{
    background-color: rgb(210, 210, 210);
    transform: translateY(1px);
}

nav li a{
    text-decoration: none;
    color: black;
}

/*Menu burger*/
@media screen and (max-width: 560px) {
}

/*-----------------Main-------------------*/
main{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 15px;
    padding: 10px 30px;
    max-height: 100vw;
    align-content: center;
    margin: auto;
    transition: 0.3s;
}


/*Box*/
section.HubBox{
    background-color: rgb(230, 230, 230);
    border: solid 1px gray;
    border-radius: 5px;
    height: auto;
    padding: 10px;
    box-shadow: 1px 1px 2px;
    transition: 0.3s;
    width: 31%;
}

#cloud{
    background-color: rgb(226, 197, 245);
}

#join{
    background-color: rgb(246, 216, 206);
}

#commerce{
    background-color: rgb(181, 236, 209);
}

section.HubBox:hover{
    transition: 0.3s;
    position: relative;
    z-index: 100;
    transform: scale(101%);
}

section.HubBox img{
    width: 100%;
    border-radius: 5px;
}

section.HubBox h2{
    text-align: center;
    margin: 5px;
    font-size: 100%;
}

section.HubBox p{
    text-align: justify;
    padding: 0 10px;
    margin: 0 0 10px 0;
}

@media screen and (max-width: 650px) {
    main{
        max-height: 5000px;
    }

    section.HubBox{
        width: 95%;
    }
}

@media screen and (max-width: 1300px) and (min-width: 650px) {
    main{
        max-height: 200vw;
    }

    section.HubBox{
        width: 47%;
    }
}

/*Footer*/
footer{
    background-color: rgb(230, 230, 230);
    height: auto;
    padding: 5px 20px;
}