footer{
<<<<<<< HEAD
    background-color: rgba(238, 238, 238, 0.55);
=======
    background-color: rgba(0, 81, 255, 0.2);
>>>>>>> 38a9bcfbe4b2ba3e2471bca6ceecfd8dc52ff965
    border: solid 1px black;
    height: auto;
    padding: 5px 20px;
}