

header{
    //style graphique du header 
    background-color: rgb(245, 244, 244);
    height: auto;
    width: 100%;
    box-sizing: border-box;
    padding: 5px 20px;
    display: flex;
    align-items: center;
    //toujours visible en haut de la page (plutôt de la fenêtre)
    position: sticky;
    top: 0; left: 0;
    //au dessous de tout (gros indice pour être sur même si on créer d'autre élément possédant un attribut z-index)
    z-index: 1000;

    a{
        //eneleve le style de base des lien (qui est plutôt laid)
        text-decoration: none;
        color: black;
    }

    img, >a{
        /*make the icon little and adjust to the header size*/
        width: 50px;
        height: 50px;
        transition: 0.3s;

        &:hover{
            /*upScale it when over*/
            transform: scale(105%);
        }

        &.logo{
            /*make the logo a little bigger*/
            height: 30px;
            width: auto;
            margin: 5px;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }

    /*obliger de definir le li dans le header pour le drapeau cela evite les repetitions entre nav et header*/
    li{
        text-align: center;
        //defini un temps de transition
        transition: 0.3s;
        //defini le curseur de la souris comme pointeur car pas toujours des liens qui sont utilisé
        cursor: pointer;
        position: relative;
        //hauteur adapter au contenu
        height: auto;
    }

    div.deroulant{
        //on le rend petit de façon a ce qu'il soit invisble (cela permet une transition contrairement au display:none)
        transform: scaleY(0);
        //fond pareil que le header mais un peu transparent
        background: rgba(237, 237, 237,0.7);
        //effet flou / vitre
        backdrop-filter: blur(10px);
        border: 2px solid black;
        border-radius: 5px;
        width: fit-content;
        //origne de la transformation en haut pour faire comme si le menu sortait du header
        transform-origin: top;
        transition: 0.2s;
        //positionnement en dessous de l'element du header en question
        position: absolute;
        top: 101%;left: 0;
        z-index: 1000;

        &.tropGrand{
            //besoin de decaler pour "A propos" car element trop cour comparé au menu déroulant
            left: -20px;
        }

        &.drapeau{
            //idem pour de drapeau
            left: -30px;
        }
        
        li{
            //on fait en sorte que le menu deroulant ne soit pas trop tassé
            margin: 10px 0 10px 0;
        }

        ul{
            //defini des propriété pour toute la liste du déroulant
            font-size: 20px;
            padding: 0;
            //fait la taille qu'il faut
            width: fit-content;
            display: block;
            //pas de puce
            list-style: none;
            //fait en sort que les bord ne soit pas trop proche du texte
            margin: 10px 5px 10px 5px;
        }

        &:hover{
            transform: scaleY(100%);
        }
    }


    //place les image du drapeau et du home tt a droit du header
    .n1{
        position: absolute;
        right: 0px;
    }
    
    .n2{
        position: absolute;
        right: 50px;
        cursor: pointer;
        width: 50px;

        &:hover{
            div.deroulant{
                transform: scaleY(100%);
            }
        }
    }
    
}

//aligne le titre du site (IMB)
.title{
    text-align: center;
}

.open-btn, .close-btn{
    /*disable burger menu icon when the screen is wide*/
    display: none;
}

//si l'ecran est reduit en taille il faut afficher un menu burger
@media screen and (max-width:650px) {
    /*make the burger nav when the screen is small*/
    header{
        a.logo{
            /*make the title not attach to the burger icon*/
            margin-left: 20px;
        }
    }

    //affiche le bouton burger ouvrir et fermer (ouvrir etant en dehors de l'écran : voir fichier nav.scss)
    .open-btn, .close-btn{
        /*make the burger button visible*/
        display: block;
        float: left;
        margin: auto 0;
    }

    .close-btn{
        margin: 5px 20px;
    }
}

