header{
    /*make the header style*/
    background-color: rgb(224, 224, 224);
    border: solid 1px black;
    height: auto;
    padding: 5px 20px;
    display: flex;
    align-items: center;

    h1{
        /*put the title on the left of it*/
        margin: 0;
    }

    img, >a{
        /*make the icon little and adjust to the header size*/
        width: 50px;
        height: 50px;
        transition: 0.3s;

        &:hover{
            /*upScale it when over*/
            transform: scale(105%);
        }
    }

    
}

.title{
    text-align: center;
}


