$transition-time: 0.3s;
$light-gray: rgba(238, 238, 238, 0.55);
$hover-gray: rgba(213, 213, 213, 0.55);

html, body{
    height: auto;
    //encore pareil pour la page de base
    min-height: 100vh;
}

body{
    margin: 0;
    font-family: Arial, serif;
    opacity: 0;
    transition: opacity 0.5s;
    background-color: white;
}

main{
    //rend la page central en flex pour faire un affichage de bloc de tailles différentes
    display: flex;
    flex-wrap: wrap;
    //obligatoirement en column donc
    flex-direction: column;
    padding: 10px;
    //ajuste la taille pour afficher 3 column quand la fenêtre et en grand
    max-height: 145vw;
    align-content: center;
    margin: auto;
    transition: $transition-time;
    box-sizing: border-box;
    gap: 20px;
    //rend la page en position relative pour utiliser le paramettre z-index pour pouvoir cacher la page deriere le burger ou autre si besoin
    position: relative;
    z-index: 0;
}


//les differente boites / image du HUB
section.HubBox{
    //defini un fond flou pour casser avec le fond de la page
    background-color: rgb(245, 244, 244);
    backdrop-filter: blur(5px);
    //padding pour ne pas avoir l'image qui prend toute la boite
    padding: 10px;
    //30% de large poure faire 3 columns (environ 1/3)
    width: 31%;
    //boite en position relative pour placer des element comme le titre ou autre par rapport à celle-ci
    position: relative;
    box-sizing: border-box;
    border-radius: 5px;

    img{
        /*make the image take all the box*/
        width: 100%;
        border-radius: 5px;
        transition: $transition-time;

        &:hover{
            //assombrir que l'image quand on la survole
            filter: brightness(0.8);
            transform: scale(101%);

        }

    }
    h2{
        //attacher le titre des sections visitable au boites/images associé
        position: absolute;
        background-color: $light-gray;
        box-shadow: 1px 1px 2px;
        //arrondir les bords
        border-radius: 10px;
        padding: 5px;
        //en haut a gauche de la boite
        top: 20px;left: 20px;
        font-size: 25px;
        margin: 0;
        font-weight: bold;
    }

    p{
        //attacher une description a chaque boites pour savoir de quoi parle cette page
        position: absolute;
        //tout en bas a gauche
        bottom: 0;left: 0;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
        //hauteur automatique mais avec un minimum de 60px
        min-height: 60px;
        padding: 12px;
        backdrop-filter: blur(5px);
        background-color: $light-gray;
        //prepare la transition pour le faire apparaitre comme si il sortais du bas de la boite
        transform: scaleY(0);
        transition: $transition-time;
        //donc origine de la transformation en bas de l'elements en question
        transform-origin: bottom;

        i{
            color: #0F62FE;
            position: absolute;
            bottom: 7px;right: 10px;
            transition: 0.2s;

            &:hover{
                transform: scale(130%);
            }
        }
        
    }
    
    &:hover p{
        //agrandi le texte de description de manière à le rendre visible
        transform: scaleY(100%);
    }
}

//grid aurait été plus favorable mais empeche d'avoir des case de taille completement differente les une a coté des autres (de manière aleatoire et automatique)
@media screen and (max-width: 650px) {
    //seulement 2 columns quand la fenêtre est rétraici
    main{
        max-height: none;
    }

    section.HubBox{
        width: 95%;
    }
}

//et plus qu'une si la fenêtre est encore plus petite (type smartphone)
@media screen and (max-width: 1300px) and (min-width: 650px) {
    /*2 columns when the screen is medium*/
    main{
        max-height: 310vw;
    }

    section.HubBox{
        width: 47%;
    }
}