html, body{
    height: auto;
    min-height: 100vh;
    //toujours pareil pour la page
    scroll-behavior: smooth;
}

body{
    margin: 0;
    font-family: Arial, serif;
    opacity: 0;
    transition: opacity 0.5s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: white;
}

main{
   
    details{
        cursor: pointer;
    }

    .main_div {
       
        ul{
            list-style-type: disc; //sinon on met un style simple mais qui rend la lectur et la comprehension plus facile

            &.detail{
                //si la list ul est un class detail (contient les sommaire depliant du début) alors pas de style car déja un style par le dépliant
                list-style: none;
            }
        }

        section{

            //permet de changer l'ordre entre les image et le texte lors du raitrécissement de la page
            &:nth-child(odd) {
                flex-wrap: wrap-reverse;
            }

            &:nth-child(even) {
                flex-wrap: wrap;
            }
            
            >*{
                box-sizing: border-box;
            }
    
        }
    }
}
