<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBM pour les 3èmes</title>
    <link  type="text/css" rel="stylesheet" href="../general_styles/a_proposPage.css">
</head>
<body>
    <header>
        <a href="" class="open-btn"><img src="../../Images/Navigation/open-btn.webp" alt="Open"></a> <!-- burger logo -->
        <a href="index.html" class="imb_button"><h1>IMB</h1></a>
        <nav>
            <a href="" class="close-btn"><img src="../Images/Navigation/close-btn.webp" alt="Close"></a> <!-- burger close logo -->
            <ul>
                <li class="underline"><a href="candidature.html">Candidature</a></li>
                    <a href="activity.html">Nos Activités</a>
                </li>
                <li>
                    <a href="produit.html">Produits & Services</a>
                    <span>></span>
                    <div class="deroulant">
                        <ul>
                            <li class="underline"><a href="produit.html#cloud">Cloud</a></li>
                            <li class="underline"><a href="produit.html#cybersecurite">Cybérsécurité</a></li>
                            <li class="underline"><a href="produit.html#analysedonnee">Analyse de Donnée</a></li>
                            <li class="underline"><a href="produit.html#ia">Inteligence Artificielle</a></li>
                            <li class="underline"><a href="produit.html#blockchain">BlockChain</a></li>
                            <li class="underline"><a href="produit.html#e-commerce">Commerce Eléctronique</a></li>
                            <li class="underline"><a href="produit.html#it">Infrastructure It</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <li class="underline open">
                    <a href="a_propos.html">A Propos</a>
                    <span>></span>
                    <div class="deroulant tropGrand">
                        <ul>
                            <li class="underline"><a href="a_propos.html#organisation">Organisation</a></li>
                            <li class="underline"><a href="a_propos.html#concurents">Concurents</a></li>
                            <li class="underline"><a href="a_propos.html#clients">Clients</a></li>
                            <li class="underline"><a href="a_propos.html#financement">Financement</a></li>
                            <li class="underline"><a href="a_propos.html#strategie">Stratégie</a></li>
                            <li class="underline"><a href="a_propos.html#valeurs">Nos Valeurs</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <script src="../scripts/burger.js"></script>
        </nav>
        <div class="n2">
            <img src="../Images/Navigation/flag.webp" alt="petit-drapeau">
            <div class="deroulant drapeau">
                <ul>
                    <li class="underline open"><a href="index.html">Français</a></li>
                    <li class="underline"><a href="index.html">Anglais</a></li>
                    <li class="underline"><a href="index.html">Espagnol</a></li>
                </ul>
            </div>
        </div>
        <a href="index.html" class="n1"><img src="../Images/Navigation/home.webp" alt="home" class="right"></a>
    </header>

    <h1 class="title">A propos de notre entreprise</h1>
    <main>
        <div class="main_div">
            <a id="organisation"></a>
            <section class="section">
                <div class="texte">
                    <h2>Notre organisation</h2>
                    <p>Notre organisation est une celui d'une société commerciale </p>
                    <p>IBM est une entreprise mondiale de technologie et d'innovation, dont le siège social est basé à Armonk (New York). Avec plus de 375 000 collaborateurs au service de clients répartis dans 170 pays, IBM est le premier employeur du secteur des technologies et du conseil dans le monde.
                        Dotée du capital technologique et intellectuel pour répondre à ses propres besoins informatiques internes pour gérer ses 300 000 employés dans le monde, IBM peut et sait gérer, aussi bien, les besoins informatiques de toute entreprise quelle que soit sa taille, comme ceux des villes parmi les plus grandes du monde.
                        Plus de 42 % des 380 000 employés d’IBM sont désormais mobiles et gèrent quand, où et comment ils font leur travail.
                        </p>

                </div>

                </div>
                <div class="images">
                    <div>
                        <img src="../Images/Propos/organisation.png" alt="organisation_IBM">
                    </div>
                </div>
            </section>
            <br>
            <a id="concurents"></a>
            <hr>
            <section class="section">
                <div class="images">
                    <img id="data_center" src="../Images/Propos/concurent_france.png" alt="concurent_france">
                </div>

                <div class="texte">
                    <h2>Concurents</h2>
                    <p>Nos concurents 
                    </p>
                    <p>Nos plus gros concurrents en france en 2022 :</p>
                    <p>Nos plus gros concurrents dans le monde :</p>
                </div>
                <div class="images">
                    <img id="data_center" src="../Images/Propos/concurent_monde.png" alt="concurent_monde">
                </div>
            </section>
            <a id="clients"></a>
            <hr>
            <section class="section">
                <div class="texte">
                    <h2>Nos clients</h2>
                    <p>Les différents clients d’IBM sont :

                        <ul>
                            <li>
                                Les sociétés qui souhaitent améliorer leur productivité ainsi que leur sécurité.
                            </li>
                            <br>
                            <li>
                                Les citoyens qui peuvent être intéréssés par leur cloud.
                            </li>
                        </ul>
                    </p>
                </div>
            </section>
            <a id="financement"></a>
            <hr>
            <section class="section">
                <div class="texte">
                    <h2>Nos financement</h2>
                    <p>Les revenus d’IBM sont surtout basés sur les services et produits vendus ou encore la
                        maintenance de leurs logiciels chez les clients. Mais IBM a aussi été rachetée par Lenovo
                        en 2004 ce qui lui a permis d’augmenter son capital.
                        En 2015, la contribution au bénéfice des différentes activités se décompose comme
                        suit : 
                        <ul>
                            <li>
                                Materiel : 13%
                            </li>
                            <br>
                            <li>
                                Activité de financement : 4%
                            </li>
                            <br>
                            <li>
                                Logiciels : 23%
                            </li>
                            <br>
                            <li>
                                Services : 60%
                            </li>
                        </ul>
                        </p>
                        
                        <br>
                        <p>Les services représentent désormais un peu plus de la moitié du chiffre d’affaires. Ceci
                            témoigne de la profonde transformation opérée par IBM depuis les années 1990.
                            Mais IBM n’a pas besoin d’être financé, IBM finance :
                            Elle est numéro un mondial du financement informatique et bénéficie de 30 années d’expériences dans le financement de projets informatiques et solutions métiers. Leur système
                            de financement est présent dans environ 50 pays et compte plus de 125 000 clients.
                    </p>
                    <P>En 2009, IBM s’est associé à OSEO, établissement public qui soutient la croissance et
                        l’innovation des entreprises. Ce partenariat permet à IBM de renforcer son aide aux PME
                        (petites et moyennes entreprises) en temps de crise en s’appuyant sur l’expertise d’OSEO
                        en termes de financement des entreprises. IBM s’inscrit aussi dans le programme mondial
                        de financement qui a décidé en mai 2009 de débloquer 1,5 milliard d’euros pour stimuler
                        les projets d’investissement informatique des entreprises en Europe.
                    </P>
                </div>
            </section>
            <a id="strategie"></a>
            <hr>
            <section class="section">
                <div class="texte">
                    <h2>Notre Stratégie</h2>
                    <p>
                        IBM se base, pour sa stratégie, sur le langage, l’automatisation de certaines tâches
                        grâce à l’analyse de données et l’IA en quoi elle a totalement confiance. Son objectif est
                        aussi de s’adapter, de continuer à s’expandre mondialement et s’externaliser (confier des
                        tâches à d’autres entreprises). Ils essayent de développer les services les plus rentables
                        pour eux et leurs clients.
                        
                    </p>
                </div>
            </section>
            <a id="valeurs"></a>
            <hr>
            <section class="section">
                <div class="texte">
                    <h2>Nos valeurs</h2>
                    <p>
                        IBM est à la recherche d’une parité homme-femme parfaite et soutient aussi activement la cause LGBTQIA+.
                        Ils supportent la cause asiatique et embauchent des personnes de ce continent, ils ne cherchent pas à différencier 
                        les humains en fonction de leur culture mais en fonction de leurs capacités à réaliser la mission souhaitée. 
                        “Ensemble, nous sommes plus audacieux et continuons à former des leaders.”
                    </p>
                    <p>
                        Chez IBM, les vétérans ou anciens employés contribuent à l’avancement des technologies de l’information depuis presque aussi longtemps que l’entreprise existe. IBM crée des rôles significatifs pour ces employés depuis les années 1930.
                        Ils défendent les personnes aux capacités diverses et le potentiel jusqu’alors inexploité qu’elles apportent sur le lieu de travail. “Les personnes aux capacités diverses ont une formation, une éducation et une expérience à offrir.” IBM respecte et encourage ces diverses 9 capacités qui peuvent être la vision, l’audition, la motricité et la cognition, ou la neurodiversité, qui est un concept dans lequel les différences neurologiques telles que l’autisme, l’hyperactivité et la dyslexie doivent être reconnues et respectées. IBM accueille des personnes aux capacités diverses et fait usage de leur potentiel pour les placer au centre de leur succès. IBM se consacre à l’embauche, au soutien, à l’éducation et à l’intégration de toutes personnes de toutes capacité.
                    </p>
                </div>
            </section>
            <a id="transition-eco-num"></a>
            <hr>
            <section class="section">
                <div class="texte">
                    <h2>Notre transition numérique et écologique </h2>
                    <p>
                        IBM s’est fixé l’objectif zéro émission d’ici 2030, dit comme ça cela semble inatteignable. C’est pour ça qu’ils ont défini une étape intermédiaire, en 2025 il veulent 65% d’émissions de GES en moins (par rapport à 2010).
                        Pour cela, une partie de leur stratégie réside dans la source de l’énergie utilisée, ils veulent que 75% de l’énergie qu’ils utilisent soit renouvelable.
                        Le reste de leur stratégie est centrée autour de la recherche, de ce fait, ils investissent énormément dans la découverte de de solution permettant de faire face aux conséquences du changement climatique, cette initiative se nomme “Future of Climate”. Depuis le début de leurs recherches ils ont trouvé plusieurs pistes, de nouveaux polymères, membranes10 et matériaux capable de capter et/ou absorber le carbone résiduel de leurs activitées.
                    </p>
                </div>
            </section>
        </div>
    </main>

    <footer>
        <h3>Nous contacter</h3>
        <div>
            <h3>Adresse du siège :</h3>
            <p> 17 AVENUE DE L'EUROPE 92270 BOIS COLOMBES</p>
        </div>
    </footer>

    <script src="../scripts/spawn_page.js"></script>
    <script src="../scripts/smoothsection.js" ></script>
</body>
</html>