<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBM pour les 3èmes</title>
    <link  type="text/css" rel="stylesheet" href="../general_styles/a_proposPage.css">
</head>
<body>
    <header>
        <a href="" class="open-btn"><img src="../../Images/Navigation/open-btn.webp" alt="Open"></a> <!-- burger logo -->
        <a href="index.html" class="imb_button"><h1>IMB</h1></a>
        <nav>
            <a href="" class="close-btn"><img src="../Images/Navigation/close-btn.webp" alt="Close"></a> <!-- burger close logo -->
            <ul>
                <li class="underline"><a href="candidature.html">Candidature</a></li>
                <li class="underline open">
                    <a href="activity.html">Nos Activités</a>
                </li>
                <li>
                    <a href="produit.html">Produits & Services</a>
                    <span>></span>
                    <div class="deroulant">
                        <ul>
                            <li class="underline"><a href="produit.html#cloud">Cloud</a></li>
                            <li class="underline"><a href="produit.html#cybersecurite">Cybérsécurité</a></li>
                            <li class="underline"><a href="produit.html#analysedonnee">Analyse de Donnée</a></li>
                            <li class="underline"><a href="produit.html#">Inteligence Artificielle</a></li>
                            <li class="underline"><a href="underline">BlockChain</a></li>
                            <li class="underline"><a href="underline">Commerce Eléctronique</a></li>
                            <li class="underline"><a href="underline">Infrastructure It</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="a_propos.html">A Propos</a>
                    <span>></span>
                    <div class="deroulant tropGrand">
                        <ul>
                            <li class="underline"><a href="underline">Organisation</a></li>
                            <li class="underline"><a href="underline">Concurents</a></li>
                            <li class="underline"><a href="underline">Clients</a></li>
                            <li class="underline"><a href="underline">Financement</a></li>
                            <li class="underline"><a href="underline">Stratégie</a></li>
                            <li class="underline"><a href="underline">Nos Valeurs</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <script src="../scripts/burger.js"></script>
        </nav>
        <div class="n2">
            <img src="../Images/Navigation/flag.webp" alt="petit-drapeau">
            <div class="deroulant drapeau">
                <ul>
                    <li class="underline open"><a href="index.html">Français</a></li>
                    <li class="underline"><a href="index.html">Anglais</a></li>
                    <li class="underline"><a href="index.html">Espagnol</a></li>
                </ul>
            </div>
        </div>
        <a href="index.html" class="n1"><img src="../Images/Navigation/home.webp" alt="home" class="right"></a>
    </header>

    <main>

    </main>

    <footer>
        <h3>Nous contacter</h3>
        <div>
            <h3>Adresse du siège :</h3>
            <p> 17 AVENUE DE L'EUROPE 92270 BOIS COLOMBES</p>
        </div>
    </footer>

    <script src="../scripts/spawn_page.js"></script>

</body>
</html>