<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBM pour les 3èmes</title>
    <link  type="text/css" rel="stylesheet" href="../general_styles/activityPage.css">
</head>
<body>
    <header>
        <a href="" class="open-btn"><img src="../../Images/Navigation/open-btn.png" alt="Open"></a> <!-- burger logo -->
        <a href="index.html" class="imb_button"><h1>IMB</h1></a>
        <nav>
            <a href="" class="close-btn"><img src="../Images/Navigation/close-btn.png" alt="Close"></a> <!-- burger close logo -->
            <ul>
                <li class="underline"><a href="candidature.html">Candidature</a></li>
                <li class="underline open">
                    <a href="activity.html">Activité de l'Entreprise</a>
                </li>
                <li>
                    <a href="produit.html">Produits & Services</a>
                    <span>></span>
                    <div class="deroulant">
                        <ul>
                            <li class="underline"><a href="produit.html#cloud">Cloud</a></li>
                            <li class="underline"><a href="produit.html#cybersecurite">Cybérsécurité</a></li>
                            <li class="underline"><a href="produit.html#analysedonnee">Analyse de Donnée</a></li>
                            <li class="underline"><a href="produit.html#">Inteligence Artificielle</a></li>
                            <li class="underline"><a href="underline">BlockChain</a></li>
                            <li class="underline"><a href="underline">Commerce Eléctronique</a></li>
                            <li class="underline"><a href="underline">Infrastructure It</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="a_propos.html">A Propos</a>
                    <span>></span>
                    <div class="deroulant tropGrand">
                        <ul>
                            <li class="underline"><a href="underline">Organisation</a></li>
                            <li class="underline"><a href="underline">Concurents</a></li>
                            <li class="underline"><a href="underline">Clients</a></li>
                            <li class="underline"><a href="underline">Financement</a></li>
                            <li class="underline"><a href="underline">Stratégie</a></li>
                            <li class="underline"><a href="underline">Nos Valeurs</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <script src="../scripts/burger.js"></script>
        </nav>
        <div class="n2">
            <img src="../Images/Navigation/flag.png" alt="petit-drapeau">
            <div class="deroulant drapeau">
                <ul>
                    <li class="underline open"><a href="index.html">Français</a></li>
                    <li class="underline"><a href="index.html">Anglais</a></li>
                    <li class="underline"><a href="index.html">Espagnol</a></li>
                </ul>
            </div>
        </div>
        <a href="index.html" class="n1"><img src="../Images/Navigation/home.png" alt="home" class="right"></a>
    </header>
    <h1 class="title">Activité de l'entreprise</h1>
    <main>
        <div class="main_div">
            <section class="section">
                <div class="texte">
                    <h2>IBM dans le monde de la tech</h2>
                    <p>IBM est une société existante depuis juin 1911, et malgré son ancienneté, elle a innové,
                        continue d’innover et de se trouver une place dans l’immense monde de la technologie.</p>
                    <p>IBM était autrefois très centrée sur la conception et la commercialisation de matériel
                        informatique tel que des ordinateurs centraux 
                        (ordinateurs avec une grande puissance de traitement qui sert d’unité centrale à une organisation), mais pas que, puisque ce sont
                        eux qui ont créés des outils qui nous sont aujourd’hui familiers comme les ordinateurs
                        personnels, les disques durs, la reconnaissance vocal, etc...
                    </p>
                </div>
                <div class="images">
                    <div class="compose">
                        <img class="montage" src="../Images/Activity/IBM_701_frame.jpg" alt="premier_ordinateur_IBM">
                        <img class="montage" src="../Images/Activity/shoebox_ibm.png" alt="reconnaissance_vocale_IBM">
                    </div>
                    <img class="montage" src="../Images/Activity/ibm_disque_dur_5mo.jpg" alt="disque_dur_IBM">

                </div>
            </section>
            <hr>
            <!-- <p></p> sert à mettre un élément invisible pour ne pas casser l'alternance de sections paires et impaires -->
            <p></p>
            <section class="section">
                <div class="images">
                    <img id="data_center" src="../Images/Activity/ibm-data-center-picture-share-image.jpg" alt="DataCenter_IBM">
                </div>
                <div class="texte">
                    <h2>IBM aujourd'hui</h2>
                    <p>
                        Mais aujourd’hui, IBM est surtout connue et reconnue pour ses services tels que ses
                        datacenter répartis un peu partout autour du globe et qui permettent à n’importe qui
                        de posséder son propre serveur personnel / professionnel. 
                        <details>
                            <summary>Stats</summary>
                            <p>en 2015, 60% des bénéfices récoltés étaient dus à des services liés à la location de serveurs</p>
                        </details> et ce chiffre
                        continue d’augmenter grace aux différentes collaborations. De plus, leurs services peuvent
                        correspondre aussi bien à un particulier qu’à une entreprise qu’elle soit petite, moyenne
                        ou grande.
                    </p>
                </div>
            </section>
            <hr class="section">
            <p></p>
            <section class="section">
                <div class="texte">
                    <h2>La nouvelle stratégie d'IBM</h2>
                    <p>
                        Le 28 septembre 2016 Google, Facebook, IBM, Microsoft et Amazon officialisent dans
                        un communiqué commun la création du « Partnership on Artificial Intelligence to Benefit
                        People and Society » (« partenariat pour l’intelligence artificielle au bénéfice des citoyens
                        et de la société »). Ce partenariat prendra la forme d’une organisation à but non lucratif,
                        qui « mènera des recherches, recommandera de bonnes pratiques, et publiera les résultats
                        de ses recherches sous une licence ouverte »
                    </p>
                </div>
                <div class="images">
                    <img id="ai" src="../Images/Activity/ibm-ia.png" alt="AI_IBM">
                </div>
            </section>
            <hr class="section">
            <p></p>
            <section class="section">
                <div class="images">
                    <img id="ai" src="../Images/Activity/ibm-ia.png" alt="AI_IBM">
                </div>
                <div class="texte">
                    <h2>La nouvelle stratégie d'IBM</h2>
                    <p>
                        Le 28 septembre 2016 Google, Facebook, IBM, Microsoft et Amazon officialisent dans
                        un communiqué commun la création du « Partnership on Artificial Intelligence to Benefit
                        People and Society » (« partenariat pour l’intelligence artificielle au bénéfice des citoyens
                        et de la société »). Ce partenariat prendra la forme d’une organisation à but non lucratif,
                        qui « mènera des recherches, recommandera de bonnes pratiques, et publiera les résultats
                        de ses recherches sous une licence ouverte »
                    </p>
                </div>

            </section>
            <hr class="section">
            <p></p>
            <section class="section">
                <div class="texte">
                    <h2>La nouvelle stratégie d'IBM</h2>
                    <p>
                        Le 28 septembre 2016 Google, Facebook, IBM, Microsoft et Amazon officialisent dans
                        un communiqué commun la création du « Partnership on Artificial Intelligence to Benefit
                        People and Society » (« partenariat pour l’intelligence artificielle au bénéfice des citoyens
                        et de la société »). Ce partenariat prendra la forme d’une organisation à but non lucratif,
                        qui « mènera des recherches, recommandera de bonnes pratiques, et publiera les résultats
                        de ses recherches sous une licence ouverte »
                    </p>
                </div>
                <div class="images">
                    <img id="ai" src="../Images/Activity/ibm-ia.png" alt="AI_IBM">
                </div>
            </section>
        </div>
    </main>

    <footer>
        <h3>Contact</h3>
    </footer>
  
    <script src="../scripts/smoothsection.js" ></script>
    <script src="../scripts/spawn_page.js"></script>

</body>
</html>