<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBM pour les 3èmes</title>
    <link rel="stylesheet" href="../general_styles/candidaturepage.css">
</head>
<body>
  <header>
    <a href="" class="open-btn"><img src="../../Images/Navigation/open-btn.png" alt="Open"></a> <!-- burger logo -->
    <a href="index.html" class="imb_button"><h1>IMB</h1></a>
    <nav>
          <a href="" class="close-btn"><img src="../Images/Navigation/close-btn.png" alt="Close"></a> <!-- burger close logo -->
          <ul>
              <li class="underline open"><a href="candidature.html">Candidature</a></li>
              <li class="underline">
                  <a href="activity.html">Activité de l'Entreprise</a>
              </li>
              <li>
                  <a href="produit.html">Produits & Services</a>
                  <span>></span>
                  <div class="deroulant">
                    <ul>
                      <li class="underline"><a href="produit.html#cloud">Cloud</a></li>
                      <li class="underline"><a href="produit.html#cybersecurite">Cybérsécurité</a></li>
                      <li class="underline"><a href="produit.html#analysedonnee">Analyse de Donnée</a></li>
                      <li class="underline"><a href="produit.html#ia">Inteligence Artificielle</a></li>
                      <li class="underline"><a href="produit.html#blockchain">BlockChain</a></li>
                      <li class="underline"><a href="produit.html#e-commerce">Commerce Eléctronique</a></li>
                      <li class="underline"><a href="produit.html#it">Infrastructure It</a></li>
                  </ul>
                  </div>
              </li>
              <li>
                  <a href="a_propos.html">A Propos</a>
                  <span>></span>
                  <div class="deroulant tropGrand">
                    <li class="underline"><a href="a_propos.html#organisation">Organisation</a></li>
                    <li class="underline"><a href="a_propos.html#concurents">Concurents</a></li>
                    <li class="underline"><a href="a_propos.html#clients">Clients</a></li>
                    <li class="underline"><a href="a_propos.html#financement">Financement</a></li>
                    <li class="underline"><a href="a_propos.html#strategie">Stratégie</a></li>
                    <li class="underline"><a href="a_propos.html#valeurs">Nos Valeurs</a></li>
                      </ul>
                  </div>
              </li>
          </ul>
          <script src="../scripts/burger.js"></script>
      </nav>
      <div class="n2">
          <img src="../Images/Navigation/flag.png" alt="petit-drapeau">
          <div class="deroulant drapeau">
              <ul>
                  <li class="underline open"><a href="index.html">Français</a></li>
                  <li class="underline"><a href="index.html">Anglais</a></li>
                  <li class="underline"><a href="index.html">Espagnol</a></li>
              </ul>
          </div>
      </div>
      <a href="index.html" class="n1"><img src="../Images/Navigation/home.png" alt="home" class="right"></a>
    </header>
    <form method="post" action="traitement.php">
      <h1 class="title">Candidature</h1>
      <div class="cotecote">
        <input id="nom" type="text" name="nom" placeholder="Nom" required>
        <input id="prenom" type="text" name="prenom" placeholder="Prénom" required>
      </div>  

      <input id="email" type="email" name="email" placeholder="Email" required>

      <div class="cotecote">
        <input id="telephone" type="tel" name="telephone" placeholder="Téléphone (optionnel)">
        
        <select id="pays" name="pays">
          <optgroup label="Europe">
            <option value="allemagne">Allemagne</option>
            <option value="engleterre">Engleterre</option>
            <option value="france" selected>France</option>
          </optgroup>
          <optgroup label="Amériques">
            <option value="etats-unis">Etats Unis</option>
            <option value="canada">Canada</option>
          </optgroup>
        </select>
  
      </div>
      <textarea id="adresse" type="text" name="adresse" placeholder="Adresse" required></textarea>
      
      <textarea id="courte_bio" type="text" name="courte_bio" placeholder="J'aimerai faire un stage ici car..."></textarea>

      <input id="dispo" name="dispo" type="text" placeholder="Date souhaité (MM/DD/YYYY)"
        onfocus="(this.type='date')">

      <input type="submit" value="Envoyez">

    </form>

    <footer>
        <h3>Contact</h3>
    </footer>

    <script src="../scripts/smoothsection.js" ></script>
    <script src="../scripts/spawn_page.js"></script>

</body>
</html>
