<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IBM pour les 3èmes</title>
    <link rel="stylesheet" href="../general_styles/candidaturepage.css">
</head>
<body>
    <header>
        <a href="" class="open-btn"><img src="../../Images/open-btn.png" alt="Open"></a> <!-- burger logo -->
        <h1>IMB</h1>
        <nav>
            <a href="" class="close-btn"><img src="../Images/close-btn.png" alt="Close"></a> <!-- burger close logo -->
            <ul>
                <li class="underline"><a href="candidature.html">Candidature</a></li>
                <li class="underline">
                    <a href="activity.html">Activité de l'Entreprise</a>
                </li>
                <li>
                    <a href="produit.html">Produits & Services</a>
                    <span>></span>
                    <div>
                        <ul>
                            <li class="underline"><a href="">Cloud</a></li>
                            <li class="underline"><a href="underline">Cybérsécurité</a></li>
                            <li class="underline"><a href="underline">Analyse de Donnée</a></li>
                            <li class="underline"><a href="underline">Inteligence Artificielle</a></li>
                            <li class="underline"><a href="underline">BlockChain</a></li>
                            <li class="underline"><a href="underline">Commerce Eléctronique</a></li>
                            <li class="underline"><a href="underline">Infrastructure It</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="Propos.html">A Propos</a>
                    <span>></span>
                    <div class="tropGrand">
                        <ul>
                            <li class="underline"><a href="">Cloud</a></li>
                            <li class="underline"><a href="underline">Organisation</a></li>
                            <li class="underline"><a href="underline">Concurents</a></li>
                            <li class="underline"><a href="underline">Clients</a></li>
                            <li class="underline"><a href="underline">Financement</a></li>
                            <li class="underline"><a href="underline">Stratégie</a></li>
                            <li class="underline"><a href="underline">Nos Valeurs</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <script src="../scripts/burger.js"></script>
        </nav>
        <img class="right n2" src="../Images/flag.png" alt="petit-drapeau">
        <a href="index.html" class="right n1"><img src="../Images/home.png" alt="home" class="right"></a>
    </header>
    <h1 class="title">Candidature</h1>
    <form method="post" action="traitement.php">
        <h1>Vous connaître</h1>
      <div>
        <label for="nom">Nom :</label>
        <input id="nom" type="text" name="nom" placeholder="votre nom" required>
      </div>

      <div>
        <label for="prenom">Prénom :</label>
        <input id="prenom" type="text" name="prenom" placeholder="votre prénom" required>
      </div>

      <div>
        <label for="email">E-mail :</label>
        <input id="email" type="email" name="email" placeholder="votre adresse mail" required>
      </div>

      <div>
        <label for="telephone">Téléphone :</label>
        <input id="telephone" type="tel" name="telephone" placeholder="votre numéro de téléphone (optionnel)">
      </div>

      <div>
        <label for="courte_bio">Vos Motivations</label>
        <textarea id="courte_bio" type="text" name="courte_bio" placeholder="J'aimerai faire un stage ici car..."></textarea>
      </div>

        <div>
          <label for="pays">Votre pays :</label>
          <select id="pays" name="pays">
            <optgroup label="Europe">
              <option value="allemagne">Allemagne</option>
              <option value="engleterre">Engleterre</option>
              <option value="france" selected>France</option>
            </optgroup>
            <optgroup label="Amériques">
              <option value="etats-unis">Etats Unis</option>
              <option value="canada">Canada</option>
            </optgroup>
          </select>
        </div>

      <div>
        <label for="adresse">Adresse :</label>
        <textarea id="adresse" type="text" name="adresse" placeholder="votre adresse" required></textarea>
      </div>

      <p>
        <input type="submit" value="Envoyez">
      </p>

    </form>

    <footer>
        <h3>Contact</h3>
    </footer>
    <script src="../scripts/spawn_page.js"></script>

</body>
</html>
