<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>IBM pour les 3èmes</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../general_styles/hubPage.css">
    </head>
    <body>
        <header>
            <a href="" class="open-btn"><img src="../../Images/Navigation/open-btn.png" alt="Open"></a> <!-- burger logo -->
            <a href="index.html" class="imb_button"><h1>IMB</h1></a>
            <nav>
                <a href="" class="close-btn"><img src="../Images/Navigation/close-btn.png" alt="Close"></a> <!-- burger close logo -->
                <ul>
                    <li class="underline"><a href="candidature.html">Candidature</a></li>
                    <li class="underline">
                        <a href="activity.html">Activité de l'Entreprise</a>
                    </li>
                    <li>
                        <a href="produit.html">Produits & Services</a>
                        <span>></span>
                        <div class="deroulant">
                            <ul>
                                <li class="underline"><a href="produit.html#cloud">Cloud</a></li>
                                <li class="underline"><a href="produit.html#cybersecurite">Cybérsécurité</a></li>
                                <li class="underline"><a href="produit.html#analysedonnee">Analyse de Donnée</a></li>
                                <li class="underline"><a href="underline">Inteligence Artificielle</a></li>
                                <li class="underline"><a href="underline">BlockChain</a></li>
                                <li class="underline"><a href="underline">Commerce Eléctronique</a></li>
                                <li class="underline"><a href="underline">Infrastructure It</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="Propos.html">A Propos</a>
                        <span>></span>
                        <div class="tropGrand deroulant">
                            <ul>
                                <li class="underline"><a href="underline">Organisation</a></li>
                                <li class="underline"><a href="underline">Concurents</a></li>
                                <li class="underline"><a href="underline">Clients</a></li>
                                <li class="underline"><a href="underline">Financement</a></li>
                                <li class="underline"><a href="underline">Stratégie</a></li>
                                <li class="underline"><a href="underline">Nos Valeurs</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <script src="../scripts/burger.js"></script>
            </nav>
            <div class="right n2">
                <img src="../Images/Navigation/flag.png" alt="petit-drapeau">
                <div class="deroulant drapeau">
                    <ul>
                        <li class="underline"><a href="index.html">Français</a></li>
                        <li class="underline"><a href="index.html">Anglais</a></li>
                        <li class="underline"><a href="index.html">Espagnol</a></li>
                    </ul>
                </div>
            </div>
            <a href="index.html" class="right n1"><img src="../Images/Navigation/home.png" alt="home" class="right"></a>
        </header>
        <main>
            <section class="HubBox" id="join">
                <a href="./candidature.html"><img src="../Images/Hub/JoinUsHub.png" alt="join_us" loading="lazy"></a>
                <h2>Rejoind nous</h2>
                <p>Rejoind nous en cliquant sur l'image, je suis sur que tu vas adorer ! <img src="../Images/Hub/arrow.png" alt="arrow"></p>
            </section>
            <section class="HubBox" id="cybersecurtie">
                <img src="../Images/Hub/cybersecuriteHub.png" alt="Cybérsécurité" loading="lazy">
                <h2>Cybersécurité</h2>
                <p>blabla <img src="../Images/Hub/arrow.png" alt="arrow"></p>
            </section>
            <section class="HubBox" id="Blockchain">
                <img src="../Images/Hub/BlockChainHub.png" alt="BlockChain" loading="lazy">
                <h2>Blockchain</h2>
                <p>blabla <img src="../Images/Hub/arrow.png" alt="arrow"></p>
            </section>
            <section class="HubBox" id="cloud">
                <img src="../Images/Hub/CloudHub.png" alt=" Cloud" loading="lazy">
                <h2>Cloud</h2>
                <p>blabla <img src="../Images/Hub/arrow.png" alt="arrow"></p>
            </section>
            <section class="HubBox" id="ia">
                <img src="../Images/Hub/IAHub.png" alt="IA" loading="lazy">
                <h2>Intelligence Artificielle</h2>
                <p>blabla <img src="../Images/Hub/arrow.png" alt="arrow"></p>
            </section>
            <section class="HubBox" id="commerce">
                <img src="../Images/Hub/CommerceHub.png" alt="Commerce" loading="lazy">
                <h2>Commerce</h2>
                <p>blabla <img src="../Images/Hub/arrow.png" alt="arrow"></p>
            </section>
            <section class="HubBox" id="analyse">
                <img src="../Images/Hub/AnalyseHub.png" alt="Analyse" loading="lazy">
                <h2>Analyse</h2>
                <p>blabla <img src="../Images/Hub/arrow.png" alt="arrow"></p>
            </section>
            <section class="HubBox" id="it">
                <img src="../Images/Hub/ITHub.png" alt="IT" loading="lazy">
                <h2>IT</h2>
                <p>blabla <img src="../Images/Hub/arrow.png" alt="arrow"></p>
            </section>
        </main>
        <footer>
            <h3>Contact</h3>

        </footer>
        <script src="../scripts/spawn_page.js"></script>
    </body>
</html>