<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>IMB pour les 3èmes</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../general_styles/hubPage.css">
        <script src="https://kit.fontawesome.com/0d62478a85.js" crossorigin="anonymous"></script>
    </head>
    <body>
        <header>
            <a href="" class="open-btn"><img src="../../Images/Navigation/open-btn.webp" alt="Open"></a> <!-- burger logo -->
            <a href="index.html" class="imb_button"><h1>IMB</h1></a>
            <nav>
                <a href="" class="close-btn"><img src="../Images/Navigation/close-btn.webp" alt="Close"></a> <!-- burger close logo -->
                <ul>
                    <li class="underline"><a href="candidature.html">Candidature</a></li>
                    <li class="underline">
                        <a href="activity.html">Nos Activités</a>

                    </li>
                    <li>
                        <a href="produit.html">Produits & Services</a>
                        <span>></span>
                        <div class="deroulant">
                            <ul>
                                <li class="underline"><a href="produit.html#cloud">Cloud</a></li>
                                <li class="underline"><a href="produit.html#cybersecurite">Cybérsécurité</a></li>
                                <li class="underline"><a href="produit.html#analysedonnee">Analyse de Donnée</a></li>
                                <li class="underline"><a href="produit.html#ia">Inteligence Artificielle</a></li>
                                <li class="underline"><a href="produit.html#blockchain">BlockChain</a></li>
                                <li class="underline"><a href="produit.html#e-commerce">Commerce Eléctronique</a></li>
                                <li class="underline"><a href="produit.html#it">Infrastructure It</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="a_propos.html">A Propos</a>
                        <span>></span>
                        <div class="deroulant tropGrand">
                            <ul>
                                <li class="underline"><a href="underline">Organisation</a></li>
                                <li class="underline"><a href="underline">Concurents</a></li>
                                <li class="underline"><a href="underline">Clients</a></li>
                                <li class="underline"><a href="underline">Financement</a></li>
                                <li class="underline"><a href="underline">Stratégie</a></li>
                                <li class="underline"><a href="underline">Nos Valeurs</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <script src="../scripts/burger.js"></script>
            </nav>
            <div class="n2">
                <img src="../Images/Navigation/flag.webp" alt="petit-drapeau">
                <div class="deroulant drapeau">
                    <ul>
                        <li class="underline open"><a href="index.html">Français</a></li>
                        <li class="underline"><a href="index.html">Anglais</a></li>
                        <li class="underline"><a href="index.html">Espagnol</a></li>
                    </ul>
                </div>
            </div>
            <a href="index.html" class="n1"><img src="../Images/Navigation/home.webp" alt="home" class="right"></a>
        </header>
        <h1 class="title">Bienvenue chez IMB</h1>
        <main>
            <section class="HubBox">
                <a href="./candidature.html"><img src="../Images/Hub/JoinUsHub.webp" alt="join_us" loading="lazy"></a>
                <h2>Rejoins nous</h2>
                <p>Rejoins nous en cliquant sur l'image, je suis sur que tu vas adorer !<a href="./candidature.html"><i class="fa-solid fa-arrow-right"></i></a></p>
            </section>
            <section class="HubBox">
                <a href="./activity.html"><img src="../Images/Activity/Nos_Activite.webp" alt="Activity" loading="lazy"></a>
                <h2>Nos Activité</h2>
                <p>Clique pour en apprendre d'avantage sur les activité de notre entreprise !<a href="./candidature.html"><i class="fa-solid fa-arrow-right"></i></a></p>
            </section>
            <section class="HubBox">
                <a href="./produit.html#cybersecurite"><img src="../Images/Activity/Cybersecurity_1.webp" alt="Cybérsécurité" loading="lazy"></a>
                <h2>Cybersécurité</h2>
                <p>Notre branche de cybersécurité est découpé en 3: Cyber Threat Management, Cyber Trust, Cyber Strategy and Risk. <br>
                    Si tu veux en savoir plus clique !<a href="./produit.html#cybersecurite"><i class="fa-solid fa-arrow-right"></i></a></p>
            </section>
            <section class="HubBox">
                <a href="./produit.html#it"><img src="../Images/Activity/iT.webp" alt="IT" loading="lazy"></a>
                <h2>Téchnologie d'information</h2>
                <p>Découvre en plus sur notre infrastructure de technologie d'information qui comporte plus de 318 applications<a href="./produit.html#it"><i class="fa-solid fa-arrow-right"></i></a></p>
            </section>
            <section class="HubBox">
                <a href="./produit.html#cloud"><img src="../Images/Activity/cloud_network.webp" alt=" Cloud" loading="lazy"></a>
                <h2>Cloud</h2>
                <p>Nos services de cloud est basé sur des piler indestructible si tu veux découvrir quel sont ces piler tu n'a qu'a cliquer ici !<a href="./produit.html#cloud"><i class="fa-solid fa-arrow-right"></i></a></p>
            </section>
            <section class="HubBox">
                <a href="./produit.html#ia"><img src="../Images/Activity/ibm-ia.webp" alt="IA" loading="lazy"></a>
                <h2>Intelligence Artificielle</h2>
                <p>La majorité de nos services sont basé ou améliorer grâce à de l'intelligence artificielle !<a href="./produit.html#ia"><i class="fa-solid fa-arrow-right"></i></a></p>
            </section>
            <section class="HubBox">
                <a href="./produit.html#e-commerce"><img src="../Images/Activity/e_Commerce.webp" alt="Commerce" loading="lazy"></a>
                <h2>Commerce</h2>
                <p>Nous possédons également un service axé sur le commerce numérique, si tu veux savoir en quoi elle conciste clique ici !<a href="./produit.html#e-commerce"><i class="fa-solid fa-arrow-right"></i></a></p>
            </section>
            <section class="HubBox">
                <a href="./produit.html#analysedonnee"><img src="../Images/Activity/data_anal.webp" alt="Analyse" loading="lazy"></a>
                <h2>Analyse</h2>
                <p>Nos service d'analyse nous sont très utile pour améliorer la productivité, clique pour voir !<a href="./produit.html#analysedonnee"><i class="fa-solid fa-arrow-right"></i></a></p>
            </section>
            <section class="HubBox">
                <a href="./produit.html#blockchain"><img src="../Images/Activity/blockchain.webp" alt="BlockChain" loading="lazy"></a>
                <h2>Blockchain</h2>
                <p>Nous proposer un service permettant une meilleurs réussite de votre entreprise sur le nouveau marché de la blockchain, clique pour decouvrir cette branche<a href="./produit.html#blockchain"><i class="fa-solid fa-arrow-right"></i></a></p>
            </section>

            <section class="HubBox">
                <a href="./a_propos.html#organisation"><img src="../Images/Activity/blockchain.webp" alt="BlockChain" loading="lazy"></a>
                <h2>Notre Organisation</h2>
                <p>Nous proposer un service permettant une meilleurs réussite de votre entreprise sur le nouveau marché de la blockchain, clique pour decouvrir cette branche<a href="./produit.html#blockchain"><i class="fa-solid fa-arrow-right"></i></a></p>
            </section>
            <section class="HubBox">
                <a href="./a_propos.html#concurents"><img src="../Images/Activity/blockchain.webp" alt="BlockChain" loading="lazy"></a>
                <h2>Nos Concurents</h2>
                <p>Nous proposer un service permettant une meilleurs réussite de votre entreprise sur le nouveau marché de la blockchain, clique pour decouvrir cette branche<a href="./produit.html#blockchain"><i class="fa-solid fa-arrow-right"></i></a></p>
            </section>
            <section class="HubBox">
                <a href="./a_propos.html#clients"><img src="../Images/Activity/blockchain.webp" alt="BlockChain" loading="lazy"></a>
                <h2>Les clients</h2>
                <p>Nous proposer un service permettant une meilleurs réussite de votre entreprise sur le nouveau marché de la blockchain, clique pour decouvrir cette branche<a href="./produit.html#blockchain"><i class="fa-solid fa-arrow-right"></i></a></p>
            </section>
            <section class="HubBox">
                <a href="./a_propos.html#Financement"><img src="../Images/Activity/blockchain.webp" alt="BlockChain" loading="lazy"></a>
                <h2>Financement</h2>
                <p>Nous proposer un service permettant une meilleurs réussite de votre entreprise sur le nouveau marché de la blockchain, clique pour decouvrir cette branche<a href="./produit.html#blockchain"><i class="fa-solid fa-arrow-right"></i></a></p>
            </section>
            <section class="HubBox">
                <a href="./a_propos.html#strategie"><img src="../Images/Activity/blockchain.webp" alt="BlockChain" loading="lazy"></a>
                <h2>Notre stratégie</h2>
                <p>Nous proposer un service permettant une meilleurs réussite de votre entreprise sur le nouveau marché de la blockchain, clique pour decouvrir cette branche<a href="./produit.html#blockchain"><i class="fa-solid fa-arrow-right"></i></a></p>
            </section>
            <section class="HubBox">
                <a href="./a_propos.html#Valeurs"><img src="../Images/Activity/blockchain.webp" alt="BlockChain" loading="lazy"></a>
                <h2>Nos Valeurs</h2>
                <p>Nous proposer un service permettant une meilleurs réussite de votre entreprise sur le nouveau marché de la blockchain, clique pour decouvrir cette branche<a href="./produit.html#blockchain"><i class="fa-solid fa-arrow-right"></i></a></p>
            </section>
        </main>
        <footer>
            <h3>Nous contacter</h3>
            <div>
                <h3>Adresse du siège :</h3>
                <p> 17 AVENUE DE L'EUROPE 92270 BOIS COLOMBES</p>
            </div>
        </footer>
        <script src="../scripts/spawn_page.js"></script>
    </body>
</html>