<!DOCTYPE html>
<html lang="fr">
    <head>
        <title>IBM pour les 3ème</title>
        <meta charset="utf-8">
        <link rel="stylesheet" href="../general_styles/hubPage.css">
    </head>
    <body>
        <header>
            <a href="" class="open-btn"><img src="../../Images/open-btn.png" alt="Open"></a> <!-- burger logo -->
            <h1>IMB</h1>
            <nav>
                <a href="" class="close-btn"><img src="../Images/close-btn.png" alt="Close"></a> <!-- burger close logo -->
                <ul>
                    <li class="underline"><a href="candidature.html">Candidature</a></li>
                    <li class="underline">
                        <a href="activity.html">Activité de l'Entreprise</a>
                    </li>
                    <li>
                        <a href="produit.html">Produits & Services</a>
                        <span>></span>
                        <div>
                            <ul>
                                <li class="underline"><a href="">Cloud</a></li>
                                <li class="underline"><a href="underline">Cybérsécurité</a></li>
                                <li class="underline"><a href="underline">Analyse de Donnée</a></li>
                                <li class="underline"><a href="underline">Inteligence Artificielle</a></li>
                                <li class="underline"><a href="underline">BlockChain</a></li>
                                <li class="underline"><a href="underline">Commerce Eléctronique</a></li>
                                <li class="underline"><a href="underline">Infrastructure It</a></li>
                            </ul>
                        </div>
                    </li>
                    <li>
                        <a href="Propos.html">A Propos</a>
                        <span>></span>
                        <div class="tropGrand">
                            <ul>
                                <li class="underline"><a href="">Cloud</a></li>
                                <li class="underline"><a href="underline">Organisation</a></li>
                                <li class="underline"><a href="underline">Concurents</a></li>
                                <li class="underline"><a href="underline">Clients</a></li>
                                <li class="underline"><a href="underline">Financement</a></li>
                                <li class="underline"><a href="underline">Stratégie</a></li>
                                <li class="underline"><a href="underline">Nos Valeurs</a></li>
                            </ul>
                        </div>
                    </li>
                </ul>
                <script src="../scripts/burger.js"></script>
            </nav>
            <img class="right n2" src="../Images/flag.png" alt="petit-drapeau">
            <a href="index.html" class="right n1"><img src="../Images/home.png" alt="home" class="right"></a>
        </header>
        <main>
            <section class="HubBox" id="join">
                <img src="../Images/JoinUsHub.png" alt="join_us" loading="lazy">
                <h2>Join Us</h2>
                <p>blabla <img src="../Images/arrow.png" alt="arrow"></p>
            </section>
            <section class="HubBox" id="cybersecurtie">
                <img src="../Images/cybersecuriteHub.png" alt="Cybérsécurité" loading="lazy">
                <h2>Cybersécurité</h2>
                <p>blabla <img src="../Images/arrow.png" alt="arrow"></p>
            </section>
            <section class="HubBox" id="Blockchain">
                <img src="../Images/BlockChainHub.png" alt="BlockChain" loading="lazy">
                <h2>Blockchain</h2>
                <p>blabla <img src="../Images/arrow.png" alt="arrow"></p>
            </section>
            <section class="HubBox" id="cloud">
                <img src="../Images/CloudHub.png" alt=" Cloud" loading="lazy">
                <h2>Cloud</h2>
                <p>blabla <img src="../Images/arrow.png" alt="arrow"></p>
            </section>
            <section class="HubBox" id="ia">
                <img src="../Images/IAHub.png" alt="IA" loading="lazy">
                <h2>Intelligence Artificielle</h2>
                <p>blabla <img src="../Images/arrow.png" alt="arrow"></p>
            </section>
            <section class="HubBox" id="commerce">
                <img src="../Images/CommerceHub.png" alt="Commerce" loading="lazy">
                <h2>Commerce</h2>
                <p>blabla <img src="../Images/arrow.png" alt="arrow"></p>
            </section>
            <section class="HubBox" id="analyse">
                <img src="../Images/AnalyseHub.png" alt="Analyse" loading="lazy">
                <h2>Analyse</h2>
                <p>blabla <img src="../Images/arrow.png" alt="arrow"></p>
            </section>
            <section class="HubBox" id="it">
                <img src="../Images/ITHub.png" alt="IT" loading="lazy">
                <h2>IT</h2>
                <p>blabla <img src="../Images/arrow.png" alt="arrow"></p>
            </section>
        </main>
        <footer>
            <h3>Contact</h3>

        </footer>
        <script src="../scripts/spawn_page.js"></script>
    </body>
</html>