<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  type="text/css" rel="stylesheet" href="../general_styles/productPage.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="" class="open-btn"><img src="../../Images/Navigation/open-btn.png" alt="Open"></a> <!-- burger logo -->
        <a href="index.html" class="imb_button"><h1>IMB</h1></a>
        <nav>
            <a href="" class="close-btn"><img src="../Images/Navigation/close-btn.png" alt="Close"></a> <!-- burger close logo -->
            <ul>
                <li class="underline"><a href="candidature.html">Candidature</a></li>
                <li class="underline">
                    <a href="activity.html">Activité de l'Entreprise</a>
                </li>
                <li class="underline open">
                    <a href="produit.html">Produits & Services</a>
                    <span>></span>
                    <div class="deroulant">
                        <ul>
                            <li class="underline"><a href="#cloud">Cloud</a></li>
                            <li class="underline"><a href="#cybersecurite">Cybérsécurité</a></li>
                            <li class="underline"><a href="#analysedonnee">Analyse de Donnée</a></li>
                            <li class="underline"><a href="underline">Inteligence Artificielle</a></li>
                            <li class="underline"><a href="underline">BlockChain</a></li>
                            <li class="underline"><a href="underline">Commerce Eléctronique</a></li>
                            <li class="underline"><a href="underline">Infrastructure It</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="Propos.html">A Propos</a>
                    <span>></span>
                    <div class="tropGrand deroulant">
                        <ul>
                            <li class="underline"><a href="underline">Organisation</a></li>
                            <li class="underline"><a href="underline">Concurents</a></li>
                            <li class="underline"><a href="underline">Clients</a></li>
                            <li class="underline"><a href="underline">Financement</a></li>
                            <li class="underline"><a href="underline">Stratégie</a></li>
                            <li class="underline"><a href="underline">Nos Valeurs</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <script src="../scripts/burger.js"></script>
        </nav>
        <div class="n2">
            <img src="../Images/Navigation/flag.png" alt="petit-drapeau">
            <div class="deroulant drapeau">
                <ul>
                    <li class="underline open"><a href="index.html">Français</a></li>
                    <li class="underline"><a href="index.html">Anglais</a></li>
                    <li class="underline"><a href="index.html">Espagnol</a></li>
                </ul>
            </div>
        </div>
        <a href="index.html" class="n1"><img src="../Images/Navigation/home.png" alt="home" class="right"></a>
    </header>
    <h1 class="title">Les Produits et services d'IBM</h1>
    <main>
        <div class="main_div">
            <a id="cloud"></a>
            <section>
                <div class="texte">
                    <h2>Le cloud</h2>
                    <p>Le système de cloud d’IBM est composé de 4 clés principales qui sont : </p>
                    <ul>
                        <li>
                            <details>
                                <summary>Créer librement (dérouler pour plus d'information)</summary>
                                <p>en permettant au client de pouvoir gérer et personnaliser son système de cloud au maximum afin qu'il lui corresponde parfaitement</p>
                            </details>
                        </li>

                        <li>
                            <details>
                                <summary>Créer dans la sécurité (dérouler pour plus d'information)</summary>
                                <p>grâce aux services internes à IBM qui assurent une protection du cloud en temps réel les systèmes de cloud mis en place sont sécurisés.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>Créer intelligement(dérouler pour plus d'information)</summary>
                                <p> L'implémentation et l'utilisation de l'IA permettent de créer des systèmes de cloud qui s'adaptent à l'utilisateur et qui peuvent même anticiper ses besoins.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>Créer rapidement(dérouler pour plus d'information)</summary>
                                <p> IBM offre aussi un système de conseils pour savoir quelle stratégie de cloud convient le mieux au client. Tout en lui montrant comment migrer2 rapidement et facilement
                                </p>
                            </details>
                        </li>
                    </ul>

                </div>
                <div class="images">
                    <div>
                        <img src="../Images/Activity/cloud_network.png" alt="cloud_network">
                    </div>
                </div>
            </section>
            <a id="cybersecurite"></a>
            <hr>
            <section>
                <div class="images">
                    <img id="data_center" src="../Images/Activity/Cybersecurity_1.png" alt="cybersecurity">
                </div>
                <div class="texte">
                    <h2>Cybérsécurité</h2>
                    <p>La Cyber Sécurité est une partie très présente chez IBM et qui se découpe en plusieurs séctions.</p>
                    <ul>
                        <p>Dans le domaine de la cybersécurité, IBM est en relation avec Amazon Web Services,
                            Microsoft, Oracle et plusieurs autres grandes entreprises du secteur</p>
                        <li>
                            <details>
                                <summary>IBM Cyber Threat Management (dérouler pour plus d'information)</summary>
                                <p>un service de détection et réponse en cas de
                                    cyberattaque mise en place par une équipe de hackers et chercheurs nommés
                                    IBM X-Force3 qui permet une protection contre les menaces et la réductions des risques d'attaques </p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>IBM Cyber Trust (dérouler pour plus d'information)</summary>
                                <p>un service de cybersécurité spécialisé dans la protection du
                                    cloud
                                    Ce service, spécialisé dans la construction et le management du cloud, permet d’avoir
                                    une meilleure vision globale des données. Il inclut un service automatisé de détection
                                    de espaces de stockage à risque ainsi qu’un service de conseil
                                    Le but étant d’aider la transition sur le cloud, de simplifier
                                    les transferts de données et de les rendre plus sécurisés.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>IBM Cyber Strategy and Risk (dérouler pour plus d'information)</summary>
                                <p>IBM Cyber Strategy and Risk est composé d’un service spécialisé dans la sensibilisation à la cybersécurité des entreprises ainsi que d’un autre service
                                    de solutions pour particuliers sur certains logiciels et technologies.
                                </p>
                            </details>
                        </li>
                    </ul>
                </div>
            </section>
            <a id="analysedonnee"></a>
            <hr>
            <section class="section">
                <div class="texte">
                    <h2>Analyse de Donnée</h2>
                    <p>
                        Le système d’analyse d’IBM permet de regarder les données que possèdent ses clients
                        pour trouver la stratégie numérique (intelligence artificielle, cloud, problèmes de sécurité,
                        etc...) la plus adaptée au client. Par exemple, l’utilisation de l’intelligence artificielle peut
                        augmenter la productivité de 420% (cf. site d’IBM).
                    </p>
                </div>
                <div class="images">
                    <img src="../Images/Activity/data_anal.png" alt="data_analysis">
                </div>
            </section>
            <a id="ia"></a>
            <hr>
            <section class="section">
                <div class="images">
                    <img id="data_center" src="../Images/Activity/ibm-ia.png" alt="DataCenter_IBM">
                </div>
                <div class="texte">
                    <h2>Intelligence Artificielle</h2>
                    <p>
                        Leur service d’intelligence artificielle permet l’automatisation et l’aide à la mise en
                        place de l’IA pour les entreprises. IBM analyse l'activité des entreprises pour cibler les secteurs où
                        l’utilisation de l’IA peut se révéler la plus pertinente. Le but premier étant d’augmenter
                        la productivité et les bénéfices grâce au déploiement de l’IA.</p>
                        <p>De plus IBM utilise elle même l’IA dans toutes ses solutions, ses produits, ses services tels que :
                        <ul>
                            <li>
                                L'aide au travail numérique (IBM watson assistant)
                            </li>
                            <li>
                                IA et plateforme de gestion données (IBM watsonx.data)
                            </li>
                            <li>
                                Gestion des opérations ou systèmes informatiques basés sur l’IA (IAOPs)
                            </li>
                            <li>
                                Des conseils en IA et la création d’IA personnalisées pour une implémentation facile
                                de ces mêmes IA.
                            </li>
                        </ul>
                    </p>
                </div>
            </section>
            <a id="blockchain"></a>
            <hr>
            <section class="section">
                <div class="texte">
                    <h2>La Blockchain</h2>
                    <p>
                        IBM offre un service d'aide dans la réussite de votre entreprise sur le nouveau marché de la block-chain
                        permettant à vos produits vendus de possédé une vrai authenticité. De plus cette nouvelle technologie 
                        vous permettra d'opitmiser chaque étape de production de vos produits.
                    </p>
                </div>
                <div class="images">
                    <img id="data_center" src="../Images/Activity/ibm-data-center-picture-share-image.jpg" alt="DataCenter_IBM">
                    <img id="data_center" src="../Images/Activity/blockchain.png" alt="blockchain">
                </div>
            </section>
            <a id="e-commerce"></a>
            <hr>
            <section class="section">
                <div class="images">
                    <img id="data_center" src="../Images/Activity/e_commerce.png" alt="e-commerce">
                </div>
                <div class="texte">
                    <h2>Le commerce électronique</h2>
                    <p>
                        La branche “IBM iX” est une branche dédiée aux conseils qui
                        aide les entreprises à développer les différents canaux de distribution de leurs produits,
                        IBM iX se base sur les données et statistiques (ainsi que l’IA) afin d’aider les clients à
                        augmenter leur productivité et leur chiffre d’affaire de manière significative.
                    </p>
                </div>
            </section>
            <a id="it"></a>
            <hr>
            <section class="section">
                <div class="texte">
                    <h2>L'infrastructure IT (Technologie de l'Information)</h2>
                    <p>
                        L’infrastructure de la technologie de l’information ( infrastructure IT) fait référence
                        aux composants combinés nécessaires au fonctionnement et à la gestion des services et des
                        environnements informatiques de l’entreprise. L’infrastructure IT propose des serveurs de
                        stockage ou encore des logiciels (environ 318 dont une majorité d’applications web) tels
                        que
                        <ul>
                            <li>
                                IBM SPSS Statistics (gestion de l’analyse des statistiques)
                            </li>
                            <li>
                                Flexera One (visualiser l’environnement numérique)
                            </li>
                            <li>
                                IBM Storage Fusion (gestion de l’espace de stockage)
                            </li>
                            <li>
                                IBM Storage Protect for Cloud (sécurisation des données sur le cloud)
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="images">
                    <img src="../Images/Activity/iT.PNG" alt="disque_dur_IBM">
                </div>
            </section>
        </div>
    </main>

    <footer>
        <h3>Contact</h3>
    </footer>
    <script src="../scripts/smoothsection.js"></script>
    <script src="../scripts/spawn_page.js"></script>
</body>
</html>