<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link  type="text/css" rel="stylesheet" href="../general_styles/productPage.css">
    <title>Document</title>
</head>
<body>
    <header>
        <a href="" class="open-btn"><img src="../../Images/Navigation/open-btn.png" alt="Open"></a> <!-- burger logo -->
        <a href="index.html" class="imb_button"><h1>IMB</h1></a>
        <nav>
            <a href="" class="close-btn"><img src="../Images/Navigation/close-btn.png" alt="Close"></a> <!-- burger close logo -->
            <ul>
                <li class="underline"><a href="candidature.html">Candidature</a></li>
                <li class="underline">
                    <a href="activity.html">Activité de l'Entreprise</a>
                </li>
                <li>
                    <a href="produit.html">Produits & Services</a>
                    <span>></span>
                    <div class="deroulant">
                        <ul>
                            <li class="underline"><a href="#cloud">Cloud</a></li>
                            <li class="underline"><a href="#cybersecurite">Cybérsécurité</a></li>
                            <li class="underline"><a href="#analysedonnee">Analyse de Donnée</a></li>
                            <li class="underline"><a href="underline">Inteligence Artificielle</a></li>
                            <li class="underline"><a href="underline">BlockChain</a></li>
                            <li class="underline"><a href="underline">Commerce Eléctronique</a></li>
                            <li class="underline"><a href="underline">Infrastructure It</a></li>
                        </ul>
                    </div>
                </li>
                <li>
                    <a href="Propos.html">A Propos</a>
                    <span>></span>
                    <div class="tropGrand deroulant">
                        <ul>
                            <li class="underline"><a href="underline">Organisation</a></li>
                            <li class="underline"><a href="underline">Concurents</a></li>
                            <li class="underline"><a href="underline">Clients</a></li>
                            <li class="underline"><a href="underline">Financement</a></li>
                            <li class="underline"><a href="underline">Stratégie</a></li>
                            <li class="underline"><a href="underline">Nos Valeurs</a></li>
                        </ul>
                    </div>
                </li>
            </ul>
            <script src="../scripts/burger.js"></script>
        </nav>
        <div class="right n2">
            <img src="../Images/Navigation/flag.png" alt="petit-drapeau">
            <div class="deroulant drapeau">
                <ul>
                    <li class="underline"><a href="index.html">Français</a></li>
                    <li class="underline"><a href="index.html">Anglais</a></li>
                    <li class="underline"><a href="index.html">Espagnol</a></li>
                </ul>
            </div>
        </div>
        <a href="index.html" class="right n1"><img src="../Images/Navigation/home.png" alt="home" class="right"></a>
    </header>
    <h1 class="title">Les Produits et services d'IBM</h1>
    <main>
        <div class="main_div">
            <a id="cloud"></a>
            <section>
                <div class="texte">
                    <h2>Le cloud</h2>
                    <p>Le système de cloud d’IBM est composé de 4 clés principales qui sont : </p>
                    <ul>
                        <li>
                            <details>
                                <summary>Créer librement (dérouler pour plus d'information)</summary>
                                <p>en permettant au client de pouvoir gérer et personnaliser son système de cloud au maximum afin qu'il lui corresponde parfaitement</p>
                            </details>
                        </li>

                        <li>
                            <details>
                                <summary>Créer dans la sécurité (dérouler pour plus d'information)</summary>
                                <p>grâce aux services internes à IBM qui assurent une protection du cloud en temps réel les systèmes de cloud mis en place sont sécurisés.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>Créer intelligement(dérouler pour plus d'information)</summary>
                                <p> L'implémentation et l'utilisation de l'IA permettent de créer des systèmes de cloud qui s'adaptent à l'utilisateur et qui peuvent même anticiper ses besoins.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>Créer rapidement(dérouler pour plus d'information)</summary>
                                <p> IBM offre aussi un système de conseils pour savoir quelle stratégie de cloud convient le mieux au client. Tout en lui montrant comment migrer2 rapidement et facilement
                                </p>
                            </details>
                        </li>
                    </ul>

                </div>
                <div class="images">
                    <div>
                        <img src="../Images/Activity/cloud_network.png" alt="cloud_network">
                    </div>
                </div>
            </section>
            <hr>
            <a id="cybersecurite"></a>
            <section>
                <div class="images">
                    <img id="data_center" src="../Images/Activity/Cybersecurity_1.png" alt="cybersecurity">
                </div>
                <div class="texte">
                    <h2>La cybérsécurité</h2>
                    <p>La Cyber Sécurité est une partie très présente chez IBM et qui se découpe en plusieurs séctions.</p>
                    <ul>
                        <p>Dans le domaine de la cybersécurité, IBM est en relation avec Amazon Web Services,
                            Microsoft, Oracle et plusieurs autres grandes entreprises du secteur</p>
                        <li>
                            <details>
                                <summary>IBM Cyber Threat Management (dérouler pour plus d'information)</summary>
                                <p>un service de détection et réponse en cas de
                                    cyberattaque mise en place par une équipe de hackers et chercheurs nommés
                                    IBM X-Force3 qui permet une protection contre les menaces et la réductions des risques d'attaques </p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>IBM Cyber Trust (dérouler pour plus d'information)</summary>
                                <p>un service de cybersécurité spécialisé dans la protection du
                                    cloud
                                    Ce service, spécialisé dans la construction et le management du cloud, permet d’avoir
                                    une meilleure vision globale des données. Il inclut un service automatisé de détection
                                    de espaces de stockage à risque ainsi qu’un service de conseil
                                    Le but étant d’aider la transition sur le cloud, de simplifier
                                    les transferts de données et de les rendre plus sécurisés.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>IBM Cyber Strategy and Risk (dérouler pour plus d'information)</summary>
                                <p>IBM Cyber Strategy and Risk est composé d’un service spécialisé dans la sensibilisation à la cybersécurité des entreprises ainsi que d’un autre service
                                    de solutions pour particuliers sur certains logiciels et technologies.
                                </p>
                            </details>
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="section">
            <a id="analysedonnee"></a>
            <section class="section">
                <div class="texte">
                    <h2>L'analyse de données</h2>
                    <p>
                        Le système d’analyse d’IBM permet de regarder les données que possèdent ses clients
                        pour trouver la stratégie numérique (intelligence artificielle, cloud, problèmes de sécurité,
                        etc...) la plus adaptée au client. Par exemple, l’utilisation de l’intelligence artificielle peut
                        augmenter la productivité de 420% (cf. site d’IBM).</p>
                    <ul>
                        <li>
                            <details>
                                <summary>Plateformes d'analyse des données</summary>
                                <p>IBM fournit des plateformes et des outils puissants pour l'analyse des données. Cela inclut des environnements intégrés qui permettent aux entreprises de stocker, traiter et analyser de grandes quantités de données de manière efficace.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>Solutions d'intelligence artificielle (IA)</summary>
                                <p>La branche d'analyse des données d'IBM intègre des solutions d'IA pour aider les entreprises à tirer des insights plus avancés à partir de leurs données. Cela peut inclure des technologies telles que l'apprentissage automatique, le traitement du langage naturel, la vision par ordinateur, etc.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>Gestion des données</summary>
                                <p>IBM propose des solutions de gestion des données qui permettent aux entreprises de gérer et d'organiser leurs données de manière optimale. Cela inclut la gouvernance des données, la qualité des données, et d'autres aspects liés à la gestion efficace des informations.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>Analyse prédictive et analytique</summary>
                                <p>Les outils d'IBM permettent aux entreprises d'appliquer des modèles d'analyse prédictive pour anticiper les tendances futures. L'analyse descriptive et l'analyse prédictive peuvent être utilisées pour prendre des décisions plus éclairées.</p>
                            </details>
                        </li>
                        <li>
                            <details>
                                <summary>Analyse de texte et de contenu</summary>
                                <p>IBM propose des solutions qui permettent aux entreprises d'analyser des données non structurées telles que des documents texte. Cela peut être utilisé pour extraire des informations significatives à partir de contrats, rapports, articles, etc.</p>
                            </details>
                        </li>
  </ul>
                </div>
                <div class="images">
                    <img src="../Images/Activity/data_anal.png" alt="data_analysis">
                </div>
            </section>
            <hr class="section">
            <a id="ia"></a>
            <section>
                <div class="images">
                    <img id="data_center" src="../Images/Activity/ibm-ia.png" alt="DataCenter_IBM">
                </div>
                <div class="texte">
                    <h2>L'intelligence artificielle</h2>
                    <p>
                        Leur service d’intelligence artificielle permet l’automatisation et l’aide à la mise en
                        place de l’IA pour les entreprises. IBM analyse l'activité des entreprises pour cibler les secteurs où
                        l’utilisation de l’IA peut se révéler la plus pertinente. Le but premier étant d’augmenter
                        la productivité et les bénéfices grâce au déploiement de l’IA.</p>
                        <p>De plus IBM utilise elle même l’IA dans toutes ses solutions, ses produits, ses services tels que :
                        <ul>
                            <li>
                                L'aide au travail numérique (IBM watson assistant)
                            </li>
                            <li>
                                IA et plateforme de gestion données (IBM watsonx.data)
                            </li>
                            <li>
                                Gestion des opérations ou systèmes informatiques basés sur l’IA (IAOPs)
                            </li>
                            <li>
                                Des conseils en IA et la création d’IA personnalisées pour une implémentation facile
                                de ces mêmes IA.
                            </li>
                        </ul>
                    </p>
                </div>
            </section>
            <hr class="section">
            <a id="blockchain"></a>
            <section>
                <div class="texte">
                    <h2>La blockchain</h2>
                    <p>
                        IBM propose un service d'accompagnement pour faciliter l'intégration réussie des entreprises clientes
                        sur le marché émergent de la blockchain. Cette initiative vise à apporter une authentification
                        accrue aux différents produits, renforçant ainsi leur traçabilité. Par ailleurs, l'adoption de cette nouvelle
                        technologie offre des opportunités d'optimisation des différentes phases de production de ces mêmes produits
                    </p>
                    <ul>
                        <li>
                            <details>
                                <summary>Plateforme blockchain IBM</summary>
                                <p>IBM propose une plateforme blockchain complète qui permet aux entreprises de concevoir, 
                                    éployer et gérer des réseaux blockchain pour leurs applications spécifiques.</p>
                              </details>
                        </li>
                        <li>
                            <details>
                                <summary>Services de conseil en blockchain</summary>
                                <p>IBM offre des services de conseil en blockchain pour aider les entreprises à 
                                    élaborer des stratégies efficaces, à identifier les cas d'utilisation pertinents
                                    et à mettre en œuvre des solutions blockchain adaptées à leurs besoins spécifiques.</p>
                              </details>
                        </li>
                        <li>
                            <details>
                                <summary>Chaînes d'approvisionnement et traçabilité</summary>
                                <p>La technologie blockchain d'IBM est souvent utilisée pour améliorer 
                                    la transparence et la traçabilité des chaînes d'approvisionnement, 
                                    permettant aux entreprises de suivre efficacement les produits tout au long de leur cycle de vie.</p>
                              </details>
                        </li>
                        <li>
                            <details>
                                <summary>Contrats intelligents (Smart Contracts)</summary>
                                <p>La plateforme propose la possibilité de créer et d'exécuter des contrats intelligents, des programmes autonomes qui s'exécutent automatiquement lorsque des conditions prédéfinies sont remplies, offrant ainsi un moyen automatisé d'appliquer des accords contractuels.</p>
                              </details>
                        </li>
                        <li>
                            <details>
                                <summary>Collaborations et consortiums</summary>
                                <p>IBM participe à divers consortiums et collaborations visant à promouvoir le développement de normes et de bonnes pratiques dans le domaine de la blockchain, favorisant ainsi l'adoption et l'évolution de cette technologie.</p>
                              </details>
                        </li>
                    </ul>
                </div>
                <div class="images">
                    <img id="data_center" src="../Images/Activity/ibm-data-center-picture-share-image.jpg" alt="DataCenter_IBM">
                    <img id="data_center" src="../Images/Activity/blockchain.png" alt="blockchain">
                </div>
            </section>
            <hr class="section">
            <a id="e-commerce"></a>
            <section>
                <div class="images">
                    <img id="data_center" src="../Images/Activity/e_commerce.png" alt="e-commerce">
                </div>
                <div class="texte">
                    <h2>Le commerce électronique</h2>
                    <p>
                    La branche commerciale d'IBM, souvent désignée comme IBM Global Business Services (GBS),
                    est une division importante de l'entreprise qui se concentre sur la prestation de services
                    de conseil et de solutions commerciales à ses clients du monde entier en les aidant
                    à développer les différents canaux de distribution de leurs produits l'analyse des donnée et l'utilisation d'IA 
                    permet aux clients d'IBM d'augmenter significativement leur chiffre d'affaire et leur productivité.
                    Voici quelques-unes des principales activités de la branche commerciale d'IBM :
                    </p>
                    <ul>
                        <li>
                            <details>
                                <summary>Conseil en stratégie d'entreprise</summary>
                                <p>IBM GBS aide les entreprises à élaborer des stratégies efficaces pour améliorer leurs opérations, accroître leur rentabilité et rester compétitives sur le marché.</p>
                              </details>
                        </li>
                        <li>
                            <details>
                                <summary>Transformation numérique</summary>
                                <p>IBM aide les clients à naviguer dans la transition vers des technologies numériques en modernisant leurs systèmes, en intégrant de nouvelles solutions et en adoptant des pratiques innovantes pour rester à jour dans un monde de plus en plus numérisé.</p>
                              </details>
                        </li>
                        <li>
                            <details>
                                <summary>Services informatiques et gestion des technologies de l'information</summary>
                                <p>IBM fournit une gamme étendue de services informatiques, de la gestion des réseaux à la cybersécurité, pour garantir que les systèmes informatiques des entreprises fonctionnent de manière fiable et sécurisée.</p>
                              </details>
                        </li>
                        <li>
                            <details>
                                <summary>Analyse de données et intelligence artificielle</summary>
                                <p>La branche commerciale d'IBM propose des solutions d'analyse de données avancées et d'intelligence artificielle pour aider les entreprises à tirer des informations utiles à partir de grandes quantités de données, facilitant ainsi la prise de décisions éclairées.</p>
                              </details>
                        </li>
                        <li>
                            <details>
                                <summary>Gestion des ressources humaines et des talents</summary>
                                <p>IBM GBS offre des services pour aider les entreprises à gérer efficacement leurs ressources humaines, de la gestion des talents au développement des compétences et à l'optimisation des effectifs.</p>
                              </details>
                        </li>
                        <li>
                            <details>
                                <summary>Solutions sectorielles</summary>
                                <p>IBM propose des solutions adaptées à des industries spécifiques, telles que la santé, les services financiers, les télécommunications, etc., afin d'adresser les défis particuliers auxquels ces secteurs sont confrontés.</p>
                              </details>
                        </li>
                    </ul>
                </div>
            </section>
            <hr class="section">
            <a id="it"></a>
            <section>
                <div class="texte">
                    <h2>L'infrastructure IT (Technologie de l'Information)</h2>
                    <p>
                        L’infrastructure de la technologie de l’information ( infrastructure IT) fait référence
                        aux composants combinés nécessaires au fonctionnement et à la gestion des services et des
                        environnements informatiques de l’entreprise. L’infrastructure IT propose des serveurs de
                        stockage ou encore des logiciels (environ 318 dont une majorité d’applications web) dont en voici une breve liste
                        <ul>
                            <li>
                                IBM SPSS Statistics (gestion de l’analyse des statistiques)
                            </li>
                            <li>
                                Flexera One (visualiser l’environnement numérique)
                            </li>
                            <li>
                                IBM Storage Fusion (gestion de l’espace de stockage)
                            </li>
                            <li>
                                IBM Storage Protect for Cloud (sécurisation des données sur le cloud)
                            </li>
                        </ul>
                    </p>
                </div>
                <div class="images">
                    <img src="../Images/Activity/iT.PNG" alt="disque_dur_IBM">
                </div>
            </section>
        </div>
    </main>

    <footer>
        <h3>Contact</h3>
    </footer>
    <script src="../scripts/smoothsection.js"></script>
    <script src="../scripts/spawn_page.js"></script>
</body>
</html>