header {
  /*make the header style*/
  background-color: rgb(224, 224, 224);
  border: solid 1px black;
  height: auto;
  width: 100%;
  box-sizing: border-box;
  padding: 5px 20px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}
header a {
  text-decoration: none;
  color: black;
}
header img, header > a {
  /*make the icon little and adjust to the header size*/
  width: 50px;
  height: 50px;
  transition: 0.3s;
}
header img:hover, header > a:hover {
  /*upScale it when over*/
  transform: scale(105%);
}
header .imb_button {
  text-decoration: none;
  color: black;
  margin: 0;
  display: flex;
  align-items: center;
}
header .n2 {
  position: relative;
  cursor: pointer;
}
header .n2:hover div.deroulant {
  transform: scaleY(100%);
}
header div.deroulant {
  transform: scaleY(0);
  background: rgb(224, 224, 224);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
  border: 1px solid black;
  border-radius: 5px;
  width: -moz-fit-content;
  width: fit-content;
  transform-origin: top;
  transition: 0.2s;
  position: absolute;
  top: 30px;
  left: 0;
  z-index: 1000;
}
header div.deroulant.tropGrand {
  left: -20px;
}
header div.deroulant.drapeau {
  left: -30px;
}
header div.deroulant ul {
  gap: 25px;
  font-size: 20px;
  padding: 10px;
  width: -moz-fit-content;
  width: fit-content;
  display: block;
  list-style: none;
}
header div.deroulant:hover {
  transform: scaleY(100%);
}

.title {
  text-align: center;
}

footer {
  background-color: rgba(238, 238, 238, 0.55);
  border: solid 1px black;
  height: auto;
  padding: 5px 20px;
}

.open-btn, .close-btn {
  /*disable burger menu icon when the screen is wide*/
  display: none;
}

nav {
  /*nav for large screen*/
  /*center the nav*/
  margin: auto auto;
}
nav ul {
  list-style-type: none;
  padding: 0;
  /*make the link list look like somethings*/
  font-size: 20px;
  /*adjust with the width of the screen*/
  display: flex;
  flex-wrap: wrap;
  gap: 5px;
  margin: auto;
  justify-content: center;
}
nav li {
  /*make the li look like clickable*/
  text-align: center;
  padding: 5px;
  border-radius: 15px;
  transition: 0.3s;
  cursor: pointer;
  position: relative;
}
nav li a {
  text-decoration: none;
  color: black;
}
nav li span {
  display: inline-block;
  font-weight: bold;
  transition: 0.2s;
}
nav li:hover div.deroulant {
  transform: scaleY(100%);
}
nav li:hover span {
  transform: rotate(90deg);
}

@media screen and (max-width: 650px) {
  /*make the burger nav when the screen is small*/
  header h1 {
    /*make the title not attach to the burger icon*/
    margin-left: 20px;
  }
  header .right {
    /*place search icon and flag icon to the right*/
    position: absolute;
  }
  header .right.n1 {
    right: 0px;
  }
  header .right.n2 {
    right: 50px;
  }
  .open-btn, .close-btn {
    /*make the burger button visible*/
    display: block;
    float: left;
    margin: auto 0;
  }
  .close-btn {
    margin: 5px 20px;
  }
  nav {
    /*attach the nav on the total screen*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /*transition from the side of the screen*/
    transform: scaleX(0);
    opacity: 0;
    transition: 0.3s;
    transform-origin: left;
    background-color: rgb(224, 224, 224);
    z-index: 1000;
  }
  nav.open {
    opacity: 1;
    transform: scaleX(100%);
  }
  nav ul {
    /*make the link list adjust for the burger*/
    gap: 25px;
    font-size: 5vw;
    padding: 60px 0;
    width: auto;
    display: block;
  }
  nav ul li div {
    position: relative;
    height: 0;
    transition: 0.2s;
    width: 90%;
    left: 5%;
    top: 0;
  }
  nav ul li div.tropGrand {
    width: 90%;
    left: 5%;
  }
  nav ul li:hover div {
    height: auto;
    transition: 0.2s;
  }
}
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgb(34, 34, 34);
}

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: rgba(123, 123, 123, 0.4);
}
::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar-thumb:active {
  background: rgba(255, 255, 255, 0.5);
}

.underline::after {
  /*create smoth underline*/
  content: "";
  position: absolute;
  bottom: 2px;
  left: 5%;
  width: 90%;
  height: 2px;
  background-color: black;
  opacity: 1;
  transform: scaleX(0);
  /*origine from the center of the li*/
  transform-origin: center;
  transition: 0.2s;
}
.underline.open::after {
  transform: scaleX(100%);
}
.underline:hover::after {
  transform: scaleX(100%);
}

html, body {
  height: auto;
  min-height: 100vh;
  scroll-behavior: smooth;
}

body {
  margin: 0;
  font-family: Arial, serif;
  opacity: 0;
  transition: opacity 0.5s;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
}

main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}
main .main_div {
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}
main .main_div section {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}
main .main_div section:nth-child(even) {
  flex-wrap: wrap-reverse;
}
main .main_div section > * {
  flex-basis: 49%;
  box-sizing: border-box;
}
main .main_div section .images {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: top;
}
main .main_div section .images div {
  display: flex;
  flex-direction: column;
  width: 47%;
}
main .main_div section .images div img {
  width: 100%;
  border: 1px solid black;
}
main .main_div section .images img {
  width: 53%;
  border: 1px solid black;
}
main .main_div section .texte {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
main .section {
  opacity: 0;
  transform: translateY(20px);
  transition: opacity 1s ease, transform 1s ease;
}
main .visible {
  opacity: 1;
  transform: translateY(0);
}/*# sourceMappingURL=productPage.css.map */